body{
    /* background-color: red; */
    margin: 0;
}

nav{
    background-color: #191919;
}
nav img{
    width: 150px;
    fill: white;
    
}

main.categories section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
}
main.categories section article{
    border: solid grey 1px;
    margin : 1em;
    /* width: 15%; */
}

main.categories section article p{
    text-align: center;
}