@font-face {
    font-family: 'Chopin';
    src: url(../assets/fonts/OTF/Chopin-Trial-Medium.otf);
}
body{
    /* background-color: red; */
    font-family: 'Chopin', sans-serif;
    margin: 0;
    color: #8e92aa;
    /* background-color: #0a0a0f; */
}

a{
    text-decoration: none;
    color: #8e92aa;
}
nav{
    /* position: fixed; */
    background-color: #13131a;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    /* align-items: center; */
    /* height: 100%; */
    /* border: solid red; */
}

nav article{
    margin: 0 3em;
    display: flex;
    align-items: center;
}
nav img{
    width: 35px;
}
nav a{
    text-decoration: none;
    color: #8e92aa;
    margin: 0 2em;
    /* border: solid red; */
}

nav img#logo{
    width: 150px;
    
}

main{
    background-color: #0A0A0F;
    border: solid #0A0A0F;
    /* height: 50vh; */
    min-height: 50vh;
    padding-bottom: 1em;
}

main h2{
    margin: 2em 0;
    display: flex;
    justify-content: center;
}
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 25%; */
}
main input{

    margin: 8px 0;
    /* height: 30px; */
    /* width: 17%; */
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
}
main section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
}
main section article{
    border: solid grey 1px;
    margin : 1em;
    /* width: 15%; */
}

main section article p{
    text-align: center;
}
.produit-cat{
    display: flex;
    justify-content: center;
    color:white;
}
footer{
    background-color: #13131a;
    height: 100%;
    border: solid #13131a;
}

footer p{
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer section{
    margin: 2em 0;
    display: flex;
    justify-content: center;
}
footer section article{
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}